<h2>{{title}}</h2>

<form>


	
  <div class="form-group">
    <label for="locutores">Locutor</label>
    <select id="locutores" name="locutores" class="form-control"
    [(ngModel)]="model.locutores">
    </select>
  </div>

  <div class="form-group">
    <label for="bibliotecas">Biblioteca</label>
    <select id="bibliotecas" name="bibliotecas" class="form-control"
    [(ngModel)]="model.bibliotecas">
  </select>
  </div>
  
  <div class="form-group">
    <label for="codificacao">Codificação</label>
    <select id="codificacao" name="codificacao" class="form-control"
    [(ngModel)]="model.codificacao">
  </select>
  </div> 
  
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </div>

</form>