<h2>{{title}}</h2>

<form #codificacaoForm="ngForm" (submit)="enviar()">
	
  <div class="form-group">
    <label for="tipocodificacao">Tipo codificação</label>
    <input type="text" id="tipoCodificacao" name="tipocodificacao"
    [(ngModel)]="model.tipoCodificacao" class="form-control" />
  </div>

  <div class="form-group">
    <label for="taxa">Taxa de bits</label>
    <input type="text" id="taxa" name="taxa"
    [(ngModel)]="model.taxa" class="form-control" />
  </div>
   
  <div class="text-center">
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </div>

</form>