<h2>{{title}}</h2>

<form #locutorForm="ngForm" (submit)="enviar()">
  
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="model.nome" class="form-control" />
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" id="email" name="email" [(ngModel)]="model.email" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="cidade">Cidade</label>
    <input type="text" id="cidade" name="cidade" [(ngModel)]="model.cidade" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="estado">Estado</label>
    <input type="text" id="estado" name="estado" [(ngModel)]="model.estado" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="sotaque">Sotaque</label>
    <input type="text" id="sotaque" name="sotaque" [(ngModel)]="model.sotaque" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="genero">Gênero</label>
    <input type="text" id="genero" name="genero" [(ngModel)]="model.genero" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="problemaFala">Problema fala</label>
    <input type="text" id="problemaFala" name="problemaFala" [(ngModel)]="model.problemaFala" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="idade">Idade</label>
    <input type="number" id="idade" name="idade" [(ngModel)]="model.idade" class="form-control" />
  </div>
  
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </div>
  
</form>