<h2>{{title}}</h2>

<form #projetoForm="ngForm" (submit)="enviar()">
	
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome"
    [(ngModel)]="model.nome" class="form-control" />
  </div>

  <div class="form-group">
    <label for="data">Data</label>
    <input type="date-local" id="data" name="data"
    [(ngModel)]="model.data" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="biblioteca">Biblioteca</label>
    <select id="biblioteca" name="biblioteca" class="form-control" [(ngModel)]="model.biblioteca">
      <option value="">(Selecione)</option>
      <option *ngFor="let bib of bibliotecas | async"
        [ngValue]="bib._id">{{bib.nome}}</option>
    </select>
  </div>
 
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </div>

</form>