<h3>{{title}}</h3>

<table class="table table-striped">
  <tr>    
    <th>Nome</th>
    <th>E-mail</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Sotaque</th>
    <th>Gênero</th>
    <th>Problema de fala</th>
    <th>Idade</th>
  </tr>
  <tr *ngFor="let locutor of locutores">
    <td><a [routerLink]="['/locutores', locutor._id]">{{locutor.nome}}</a></td>
    <td>{{locutor.nome}}</td>
    <td>{{locutor.email}}</td>
    <td>{{locutor.cidade}}</td>
    <td>{{locutor.estado}}</td>
    <td>{{locutor.sotaque}}</td>
    <td>{{locutor.genero}}</td>
    <td>{{locutor.problemaFala}}</td>
    <td>{{locutor.idade}}</td>
    <td>
      <button class="btn btn-danger" (click)="excluir(locutor._id)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</table>
