<!DOCTYPE html>
<html>

   <head>
      <meta charset="UTF-8" />
      <title>SGBV</title>
   </head>

   <body>
        <p>
            <% for(var i = 0; i < users.length; ++i) { users[i].nome } %>
        </p>
   </body>
</html>